#map {
  top: 41px;
  bottom:0px;
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
}

#map.toggled {
  left: 250px;
}

#wrapper {
  background-color: #212529;
}

#page-content-wrapper {
  padding: 5px;
}

.input-text {
  line-height: 21.6px;
  width: 80%;
  margin-left: -5px;
  padding-left: 5px;
}

.attribution {
  width: 75%;
}

/*html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

/*.container-full {
  height: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #1F2833;
}*/

/*.list-view {
  height: 100%;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.item-list {
  list-style-type: none;
  padding-left: 5px;
  font-size: 17px;
  padding-top: 9px;
  line-height: 35px;
  color: #C5C6C7;
}*/

/*.input-text {
  width: 70%;
  padding-left: .5em;
}

.input-button {
  width: 25%;
}

.title {
  text-align: center;
  color: #66FCF1;
  margin-bottom: 30px;
}

.attribution img {
  margin-top: 10px;
}*/